@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Styles */

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	background-image: url("navygradient.png");
	color: black;
	height: 8rem;
	border-radius: 1rem;
}

.main-site-navigation {
	background-color: #F9EA9A;
	padding: 1rem;
	border-radius: 1rem;
}

.title {
	background-color: #F9EA9A;
	padding: 1rem;
	border-radius: 1rem;
}

body {
	background-image: url("lightbrowngradient.jpg");
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Login & Sign up Styles */

#login-submission {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

#signup-submission {
	margin-bottom: 1rem;
}

/* Deck Zone */

.deck-filter {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url("navygradient.png");
	width: 900px;
	border-radius: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.format-navigation {
	background: yellowgreen;
	padding: 1rem;
	border-radius: 1rem;
}

.recent-deck-zone {
	color: white;
	background-color: #F98948;
	padding: 1rem;
	border-radius: 1rem;
}

/*
#9B8816 Dark Yellow
#F98948 Mango Tango
#5D3A00 Seal Brown
#684E32 Tuscan Brown
#F9EA9A Flavescent
*/