footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 99.35%;
  background-color: #303437;
  height: 50px;
  border-style: double;
  border-width: 5px;
  border-color: grey;
}

footer a {
  color: #C4AB63;
  margin-left: 10px;
  text-decoration: none;
}

.logos {
  display: flex;
  justify-content: space-between;
}
.logos img {
  height: 2rem;
  margin-right: 10px;
}